@model CentroEducativo
<br>
<br>
<br>

<h1 class="display-2">Eliminar un centro educativo</h1>

<br>
<form asp-controller="CentroEducativo" asp-action="Delete" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

    <input type="hidden" asp-for="IdCentro" />


    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" class="form-control">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="director">Direccion</label>
        <input asp-for="director" class="form-control">
        <span asp-validation-for="director" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="direccion">Direccion</label>
        <input asp-for="director" class="form-control">
        <span asp-validation-for="direccion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="telefono">Telefono</label>
        <input asp-for="telefono">
        <span asp-validation-for="telefono" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="correo">Correo Electronico</label>
        <input type="email" asp-for="correo">
        <span asp-validation-for="correo" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Eliminar</button>

</form>
